:root{
    --nav-icon-width: 50px;
    --nav-border-width: 8px
}

html,
body {
    height: 100;
    margin: 0;


}

.page-container{
    height: inherit;
    display: flex;
}

.main {
    height: inherit;
    padding: 0;
    padding-right: var(--nav-border-width);
    overflow-y: auto;
}

.nav {
    width: 200px;
    height: inherit;
    position: relative;
    background-color: #F7F39A;
    transition: width 0.2s
    flex-shrink: 0;
}

