*{
    box-sizing: border-box;
}
html{
    background-color: #1f2933;
    color: #f5f7fa;
}
html,
body {
    height: 100;
    margin: 0;

    

}

.page-container{
    height: inherit;
    display: flex;
}

.main {
    height: inherit;
    padding: 85px;
    text-align: center;
    display:grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    width: 950px;
    


}

.nav {
    width: 200px;
    height: inherit;
    position: relative;
    gap: 10px;
    display:flex;
    list-style: none;
    color: #f5f7fa;
    

}
.nav li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #f5f7fa;
    
}

.nav li a:hover {
    color: #090a0b;
}
.aboutgrid {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    
 
}


.aboutcard {
    background-color: #3e4c59;
    width: 100px
    box-shadow 0 0 20px rgba(0,0,0,20);   
    padding: 3%;
    border-radius: 5px;
    text-align: center;
    
    
}

.persistent-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #616e7c;
    padding: 2px;
    border-radius: 3%;
}

.aboutmain {
    justify-content: center;
    
}

.pic{
    border-radius: 50%;
    align-content: flex-end;
    height: 300px;
}   

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #616e7c;
    padding: 2px;
    
}

.fit-size{
    height: 300px;
}

.portfolioproject{
    background-color: #3e4c59;
    width: 700px;
    box-shadow: 0, 0, 20px, rgba(0,0,0,20);   
    padding: 3%;
    border-radius: 5px;
    text-align: center;
    gap: 2rem;
    border-width: 12px;
    border-color: #090a0b;
    
    

}

.portfoliocontainer{
      max-width: 960px;
      
}
